# Java/Maven compile outputs
target/
*.class

# Video formats
*.mp4
*.mkv
*.avi
*.mov
*.webm
*.flv
*.wmv
*.m4v

# Audio formats
*.mp3
*.wav
*.aac
*.ogg
*.flac
*.m4a

# Log files
*.log

# OS metadata
Thumbs.db
.DS_Store

# IDE configurations
.idea/
*.iml
.vscode/
!.vscode/settings.json
